snippet !meta "Meta block"
### {
	$0
}
endsnippet


snippet !plmeta "Meta for Misskey client plugin"
### {
	name: "$1"
	author: "Cj-bc"
	version: $2
	description: "$3"
	permissions: "$4"
	config: $5
}
endsnippet
