snippet mona "monacoin address"
mona: MBdCkYyfTsCxtm1wZ1XyKWNLFLYj8zMK3V
$0
endsnippet

snippet koto "koto address"
koto: k1J5gCLHGksZ8SFuu1Yac8ewDke1Q9CML4y
$0
endsnippet

snippet tip "list of tips"
[![tipmona](https://img.shields.io/badge/tipme-%40tipmona-orange.svg)](https://twitter.com/share?text=%40tipmona%20tip%20%40Cj-bc%20${1:39})  [![monya/mona](https://img.shields.io/badge/tipme-%40monya/mona-orange.svg)](https://monya-wallet.github.io/a/?address=MBdCkYyfTsCxtm1wZ1XyKWNLFLYj8zMK3V&scheme=monacoin)  [![tipkotone](https://img.shields.io/badge/tipme-%40tipkotone-orange.svg)](https://twitter.com/share?text=%40tipkotone%20tip%20%40Cj-bc%20${1:39})
$0
endsnippet
