snippet moduleDesc "module haddock description comment"
{-|
Module      : ${1}
Description : ${2}
Copyright   : (c) Cj.bc_sd a.k.a Cj-bc, `LANG=C date | awk '{print $6}'`
Maintainer  : cj.bc-sd@outlook.jp
Stability   : experimental

${0}
-}
endsnippet

snippet lang "Language extension"
{-# LANGUAGE ${0} #-}
endsnippet
