snippet head "header comment"
" Vim ${1} file
" Language: ${2}
" Maintainer: Cj-bc a.k.a Cj.BC_SD <cj.bc-sd@outlook.jp>
" Filenames: *.${3}
" Last Change: `LANG=C date | awk -n '{print $6, $2, $3}'`
endsnippet
