[submodule "dotfiles/emacs/emacs.d"]
	path = dotfiles/emacs/emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "dotfiles/mlterm/colorschemes"]
	path = dotfiles/mlterm/colorschemes
	url = https://github.com/Cj-bc/Mlterm-Color-Schemes
